:root {
    --node_size: 70px;
}

#game_grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(20, var(--node_size));
    margin: auto;
    border: 5px solid blue;
    text-align: center;
}

.node {
    box-sizing: border-box;
    display: inline-block;
    width: var(--node_size);
    height: var(--node_size);
    border: 2px solid black;
}