:root {
    --grid_columns: 10;
    --grid_rows: 10;
    --node_width: 8vh;
    --node_height: 8vh;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

label {
    cursor: pointer;
    user-select: none;
}

#settings {
    box-sizing: border-box;
    width: 100vw;
    height: 15vh;
    padding: 5px;
    background-color: rgb(34, 34, 34);
    color: white;
}

#settings fieldset {
    float: left;
    height: 11vh;
    padding-top: 1px;
    padding-bottom: 15px;
}

#map_name_fieldset {
    width: 11vw;
}

#show_elements_fieldset {
    width: 11vw;
    font-size: 14px;
    line-height: 14px;
}

#tools_fieldset {
    width: 37vw;
}

#tools1 {
    float: left;
}

#tools2 {
    margin-left: 20px;
    float: right;
}

#switch_location_collision_label {
    display: none;
}

#switch_location_collision_label input {
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 18px;
}

#sl_map_name {
    width: 5vw;
}

#sl_map_x, #sl_map_y {
    width: 3vw;
}

#add_delete_columns_and_rows_fieldset {
    width: 10vw;
}

#add_row {
    margin-top: 5px;
}

#add_cloumn{
    margin-bottom: 5px;
}

#import_export_map_fieldset {
    position: relative;
    width: 7vw;
}

#import_export_map_fieldset input[type="button"] {
    position: absolute;
    left: 50%
}

#import_map_button {
    top: 25%;
    transform: translate(-50%);
}

#export_map_button {
    top: 55%;
    transform: translate(-50%);
}

#import_map_div {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 30vh;
    background-color: rgb(22, 23, 26);
    border-radius: 10px;
    color: white;
}

#export_map_div {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 80vh;
    background-color: rgb(22, 23, 26);
    border-radius: 10px;
    color: white;
}

#import_map_top, #export_map_top {
    height: 2vh;
    padding: 15px;
}

#import_map_top span, #import_map_top input, #export_map_top span, #export_map_top input {
    display: inline-block;
}

#import_map_top input, #export_map_top input {
    float: right;
}

#import_map_main {
    padding: 15px;
    text-align: center;
}

#export_map_main {
    padding: 15px;
}

#export_map_span {
    display: block;
    height: 70vh;
    overflow: scroll;
    scrollbar-width: none;
}

#export_map_span::-webkit-scrollbar {
    display: none;
}

#select_collision_label {
    display: none;
}

#map_container {
    box-sizing: border-box;
    width: 100vw;
    height: 85vh;
    clear: both;
    padding: 10px;
    background-color: rgb(70, 70, 70);
}

#map_container fieldset{
    box-sizing: border-box;
    width: calc(99vw - 3px);
    height: calc(85vh - 23px);
    padding: 0px;
    margin: 0px;
    overflow: scroll;
    scrollbar-width: none;

}

#map_container fieldset::-webkit-scrollbar {
    display: none;
}

#map_view {
    box-sizing: border-box;
    display: grid;
    max-width: calc(99vw - 3px);
    grid-template-columns: repeat(var(--grid_columns), var(--node_width));
    margin: auto;
    text-align: center;
}

.node_border {
    border: 1px white solid;
}

.node {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: var(--node_width);
    height: var(--node_height);
    text-align: center;
}

.node img {
    position: absolute;
    width: var(--node_width);
    height: var(--node_height);
}

.collision {
    box-sizing: border-box;
    position: absolute;
    width: calc(var(--node_width) - 2px);
    height: calc(var(--node_height) - 2px);
    line-height: calc(var(--node_height) - 2px);;
    margin: auto;
    background-image: none;
    color: red;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none;
    font-weight: bold;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.collision::-webkit-scrollbar {
    display: none;
}

.wall {
    left: 0px;
}