:root {
    --grid_columns: 10;
    --grid_rows: 10;
    --node_width: 7vh;
    --node_height: 7vh;

    --grid_lines: "";
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

label {
    cursor: pointer;
    user-select: none;
}

#settings {
    box-sizing: border-box;
    width: 100vw;
    height: 8vh;
    padding: 5px;
    background-color: rgb(70, 70, 70);
    color: white;
}

#tabs_container {
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: calc(4vh + 3px);
    padding-left: 5px;
    background-color: rgb(26, 26, 26);
    align-items: center;
    overflow: hidden;
}

.tab {
    width: 9vw;
    height: calc(3vh - 3px);
    overflow: hidden;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkgrey;
    border: 2px solid whitesmoke;
    border-radius: 0 15px 0 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 300ms;
}

.tab:hover{
    cursor: pointer;
    background-color: rgb(126, 167, 183);
}

.tab_textContent {
    float: left;
    transform: translateY(10%);
}

.delete_tab {
    border: none;
    float: right;
    transform: translateY(10%);
    transition: 300ms;
}

.delete_tab:hover {
    border-radius: 5px;
    filter: invert(1);
}

#add_tab {
    width: 4vh;
    padding: 0px;
}

#add_tab img {
    margin: auto;
    transform: translateY(10%);
    transition: 300ms;
}

#add_tab img:hover {
    filter: invert(1);
}

#tabs_container img {
    width: 2vh;
    height: 2vh;
}

#map_container {
    box-sizing: border-box;
    width: 100vw;
    height: calc(88vh - 3px);
    clear: both;
    padding: 10px;
    background-color: rgb(58, 58, 58);
}

#map_container fieldset{
    box-sizing: border-box;
    width: 95vw;
    max-width: 95vw;
    height: calc(80vh - 23px);
    max-height: calc(80vh - 23px);
    padding: 0px;
    margin: 0px;
    overflow: scroll;
    scrollbar-width: none;

}

#map_container fieldset::-webkit-scrollbar {
    display: none;
}

#map_view {
    box-sizing: border-box;
    display: grid;
    max-width: 95vw;
    grid-template-columns: repeat(var(--grid_columns), var(--node_width));
    margin: auto;
    text-align: center;
}

.node_border {
    border: 1px white solid;
}

.node {
    box-sizing: border-box;
    display: inline-block;
    width: var(--node_width);
    height: var(--node_height);
    text-align: center;
}

.node img {
    width: var(--node_width);
    height: var(--node_height);
}

.collision {
    box-sizing: border-box;
    text-align: center;
    width: calc(var(--node_width) - 2px);
    height: calc(var(--node_height) - 2px);
    line-height: calc(var(--node_height) - 2px);;
    margin: auto;
}

.collision-r {
    border-right: 4px dashed red;
}

.collision-l {
    border-left: 4px dashed red;
}

.collision-u {
    border-top: 4px dashed red;
}

.collision-d {
    border-bottom: 4px dashed red;
}