:root {
    --node_size: 65px;
}

#game_grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(19, var(--node_size));
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    border: 5px solid blue;
    text-align: center;
}

.node {
    box-sizing: border-box;
    display: inline-block;
    width: var(--node_size);
    height: var(--node_size);
    border: 2px solid black;
}

#player_node {
    background-color: red;
}

/*! ================== Delete later ================== !*/
#player_node img {
    width: calc(var(--node_size) - 5px);
    height: calc(var(--node_size) - 5px);
}
