#game_grid_container {
    position: absolute;
    overflow: hidden;
    left: 10px;
    top: 40px;
    width: calc(19 * var(--node_width));
    height: calc(10 * var(--node_height));
    border: 1px solid green;
}

#game_grid {
    position: absolute;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(19, var(--node_width));
    /* left: 10px;
    top: 40px; */
    margin: auto;
    /* border: 5px solid blue; */
    text-align: center;
}

.node {
    box-sizing: border-box;
    display: inline-block;
    width: var(--node_width);
    height: var(--node_height);
    border: 0.5px solid black;
}

.node img {
    width: var(--node_width);
    height: var(--node_height);
}

#player_node {
    background-color: red;
    color: white;
}

/*TODO: Change when textures are ready */
#player_node img {
    width: calc(var(--node_width) - 2px);
    height: calc(var(--node_height) - 2px);
}
