#game_grid_container {
    position: absolute;
    box-sizing: border-box;
    top: 5vh;
    left: 0px;
    width: calc(var(--grid_columns) * var(--node_width));
    height: calc(var(--grid-rows) * var(--node_height));
    /* border: 1px solid green; */
}

#game_grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--grid_columns), var(--node_width));
    margin: auto;
    text-align: center;
}

.node {
    box-sizing: border-box;
    display: inline-block;
    width: var(--node_width);
    height: var(--node_height);
    /* border: 0.5px solid black; */
}

.node img {
    width: var(--node_width);
    height: var(--node_height);
}

#player_node {
    position: relative;
    width: var(--node_width);
    height: var(--node_height);
    /* background-color: red;
    color: white; */
}

/*TODO: Change when textures are ready */
#player_node img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: var(--node_width);
    height: var(--node_height);
}
