#player_main_stats {
    position: absolute;
    box-sizing: border-box;
    z-index: 5;
    left: 10px;
    top: 600px;
    width: calc(var(--node_width) * var(--grid-columns));
    height: 140px;
    background-color: gray;
}

#stats_container {
    position: absolute;
    z-index: 6;
    overflow: hidden;
    left: 5px;
    top: 5px;
    width: 130px;
    height: 130px;
    background-color: lightgrey;
}

#exp_circle {
    position: absolute;
    z-index: 7;
    left: 10px;
    top: 10px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: conic-gradient(green calc(3.6deg * var(--exp_percent)), lightslategrey 0deg);
    
}

#hp_circle {
    position: absolute;
    z-index: 8;
    overflow: hidden;
    left: 20px;
    top: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 0px;
    background-color: lightgrey;
}

#hp_rect {
    position: absolute;
    z-index: 9;
    left: 0px;
    bottom: 0px;
    width: 100px;
    height: calc(90px * var(--hp_percent) / 100);
    background-color: red;
}

#ap_container {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    left: 5px;
    top: 85px;
    height: 12px;
    width: 120px;
    background-color: lightslategrey;
}

#ap_rect {
    position: absolute;
    z-index: 11;
    left: 0px;
    height: 12px;
    width: calc(120px * var(--ap_percent) / 100);
    background-color: blue;
}

#abilities_container {
    position: absolute;
    z-index: 6;
    top: 15px;
    left: 150px;
    height: 110px;
    width: 460px;
    line-height: 110px;
    vertical-align: middle;
    background-color: lightgrey;
}

.ability {
    display: inline-block;
    z-index: 7;
    margin-left: 50px;
    height: 70px;
    width: 70px;
    border: 5px solid black;
    text-align: center;
    line-height: 70px;
    background-color: lightslategrey;
}
