#player_main_stats {
    position: absolute;
    box-sizing: border-box;
    z-index: 5;
    top: calc((var(--grid-rows) * var(--node_height)) + 6vh);
    width: calc(var(--node_width) * var(--grid-columns));
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 6vh);
    background-color: #313045;
}

#stats_container {
    position: absolute;
    z-index: 6;
    overflow: hidden;
    width: calc(100vh - (var(--grid-rows) * var(--node_height)) - 6vh);
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 6vh);
    background-color: #854b2f;
}

#exp_circle {
    position: absolute;
    z-index: 7;
    top: calc(1vh + 4px);
    left: calc(1vh + 4px);
    width: calc(100vh - (var(--grid-rows) * var(--node_height)) - 8vh - 8px);
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 8vh - 8px);
    border-radius: 50%;
    background: conic-gradient(#619f3f calc(3.6deg * var(--exp_percent)), #dfcdb7 0deg);
    
}

#hp_circle {
    position: absolute;
    z-index: 8;
    overflow: hidden;
    top: 3vh;
    left: 3vh;
    width: calc(100vh - (var(--grid-rows) * var(--node_height)) - 12vh);
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 12vh);
    border-radius: 50%;
    padding: 0px;
    background-color: #dfcdb7;
}

#hp_rect {
    position: absolute;
    z-index: 9;
    bottom: 0px;
    width: 12vh;
    height: calc(12vh * var(--hp_percent) / 100);
    background-color: #c12020;
}

#ap_container {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    left: 1vh;
    top: 12vh;
    height: calc(2vh - 3px);
    width: calc(100vh - (var(--grid-rows) * var(--node_height)) - 8vh);
    background-color: #dfcdb7;
}

#ap_rect {
    position: absolute;
    z-index: 11;
    left: 0px;
    height: calc(2vh - 3px);
    width: calc(16vh * var(--ap_percent) / 100);
    background-color: #48687f;
}

#abilities_container {
    position: absolute;
    z-index: 6;
    top: 15px;
    left: 15vw;
    height: 110px;
    width: 460px;
    line-height: 110px;
    vertical-align: middle;
    background-color: #854b2f;
}

.ability {
    display: inline-block;
    z-index: 7;
    margin-left: 50px;
    height: 70px;
    width: 70px;
    border: 5px solid black;
    text-align: center;
    line-height: 70px;
    background-color: #dfcdb7;
}
