#player_main_stats {
    position: absolute;
    box-sizing: border-box;
    top: calc((var(--grid-rows) * var(--node_height)) + 6vh);
    width: calc(var(--node_width) * var(--grid-columns));
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 6vh);
    background-color: #313045;
}

#stats_bars_container {
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    width: calc(100vh - (var(--grid-rows) * var(--node_height)) - 6vh);
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 6vh);
    background-color: #854b2f;
}

#exp_circle {
    position: absolute;
    top: calc(2vh + 4px);
    left: calc(1vh + 4px);
    width: calc(100vh - (var(--grid-rows) * var(--node_height)) - 8vh - 8px);
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 8vh - 8px - 1px);
    border-radius: 50%;
    background: conic-gradient(#619f3f calc(3.6deg * var(--exp_percent)), #dfcdb7 0deg);
    
}

#hp_circle {
    position: absolute;
    overflow: hidden;
    top: calc(5vh - 2px);
    left: calc(4vh - 1px);
    width: calc(100vh - (var(--grid-rows) * var(--node_height)) - 14vh + 2px);
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 14vh + 2px);
    border-radius: 50%;
    padding: 0px;
    background-color: #dfcdb7;
}

#hp_rect {
    position: absolute;
    bottom: 0px;
    width: 12vh;
    height: calc((11vh - 4px) * var(--hp_percent) / 100);
    background-color: #c12020;
}

#mana_container {
    position: absolute;
    overflow: hidden;
    left: calc(1vh - 1px);
    top: calc(12vh - 3px);
    height: calc(2vh - 1px);
    width: calc(100vh - (var(--grid-rows) * var(--node_height)) - 8vh);
    border-radius: 5px;
    background-color: #dfcdb7;
}

#mana_rect {
    position: absolute;
    left: 0px;
    height: calc(2vh - 1px);
    width: calc(16vh * var(--mana_percent) / 100);
    background-color: #425292;
}

#diamond_shape {
    position: absolute;
    top: calc(1vh - 8px);
    left: 8vh;
    width: 0;
    height: 0;
    border: calc(1vh + 2px + (1px)/2) solid transparent;
    border-bottom: calc(2vh + 2px) solid aquamarine;
}

#diamond_shape::after {
    content: '';
    position: absolute;
    top: calc(2vh - 1px);
    left: calc(-1vh - 2px);
    width: 0;
    height: 0;
    border: calc(1vh + 2px + (1px)/2) solid transparent;
    border-top: 2vh solid aquamarine;
}

#stats_bars_border {
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

#stats_text_container {
    float: left;
    box-sizing: border-box;
    width: 15vw;
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 6vh);
    margin-left: 10px;
    padding: 5px;
    background-color: #251d22;
    color: #81a598;
}

#abilities_container {
    float: left;
    width: 460px;
    height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 6vh);
    margin-left: 10px;
    line-height: calc(100vh - (var(--grid-rows) * var(--node_height)) - 6vh);
    vertical-align: middle;
    background-color: #854b2f;
}

.ability {
    display: inline-block;
    margin-left: 50px;
    height: 70px;
    width: 70px;
    border: 5px solid black;
    text-align: center;
    line-height: 70px;
    background-color: #dfcdb7;
}
