#menu {
    box-sizing: border-box;
    width: 100vw;
    height: 4vh;
    background-color: #313045;
}

#clock {
    margin: auto;
    width: 100px;
    text-align: center;
    line-height: 4vh;
    padding-top: 2px;
    font-size: calc(4vh - 4px);
    color: #81a598;
}