#menu {
    box-sizing: border-box;
    z-index: 50;
    width: 100vw;
    height: 4vh;
    background-color: gray;
}

#clock {
    z-index: 51;
    margin: auto;
    width: 100px;
    text-align: center;
    line-height: 4vh;
    color: hotpink;
}