#player_menu {
    position: absolute;
    float: left;
    box-sizing: border-box;
    top: 5vh;
    left: calc(var(--node_width) * var(--grid-columns) + 1vh);
    width: var(--player_menu_width);
    height: 95vh;
    background-color: #313045;
}

#tabs_icons_container {
    width: var(--player_menu_width);
    height: 5vh;
    background-color: #854b2f;
    line-height: 5vh;
}

.tab_icon {
    display: inline-block;
    box-sizing: border-box;
    width: 4vw;
    height: 4vh;
    margin-left: 5px;
    border: 3px solid #251d22;
    vertical-align: middle;
    text-align: center;
    background-color: #313045;
    border-radius: 1vh;
}

.tab_icon:hover {
    cursor: pointer;
    background-color: #c58132;
}

.tab_icon img {
    width: calc(5vh - 4px);
    height: 100%;
}

#tabs_container {
    position: relative;
    width: var(--player_menu_width);
    height: var(--player_menu_width);
}

.tab {
    position: absolute;
    box-sizing: border-box;
    width: var(--player_menu_width);
    height: var(--player_menu_width);
    padding: 5px;
}

.tab img{
    width: 100%;
    height: 100%;
}

#player_equipment {
    position: relative;
    width: 100%;
    height: 100%;
}

.eq_item_container {
    box-sizing: border-box;
    position: absolute;
    width: 4vw;
    height: 4vw;
    border: 4px solid #251d22;
    aspect-ratio: 1/1;
    background-color: #dfcdb7;
}

#head_armor {
    top: 7vh;
    left: 50%;
    transform: translateX(-50%);
}

#torso_armor {
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

#legs_armor {
    top: 33vh;
    left: 50%;
    transform: translateX(-50%);
}

#equiped_item {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#equiped_healing {
    position: absolute;
    top: 75%;
    left: 20%;
    width: 5vh;
    height: 5vh;
    transform: translate(-50%, -50%);
    border: 4px solid #251d22;
    aspect-ratio: 1/1;
    background-color: #dfcdb7;
}

.eq_item_container img {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

#player_backpack_container {
    position: relative;
    box-sizing: border-box;
    width: var(--player_menu_width);
    height: calc(90vh - var(--player_menu_width));
    background-color: #854b2f;
}

#player_backpack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10px);
    border-spacing: 7px;
}

#player_backpack tr {
    text-align: center;
    height: 16%;
}

.item_container {
    box-sizing: border-box;
    position: relative;
    border: 4px solid #251d22;
    aspect-ratio: 1/1;
    background-color: #dfcdb7;
}

.item_container:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.item_container img {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

.item_functions {
    display: none;
}