#player_menu {
    position: absolute;
    float: left;
    box-sizing: border-box;
    top: 5vh;
    left: calc(var(--node_width) * var(--grid-columns) + 1vh);
    z-index: 5;
    width: var(--player_menu_width);
    height: 95vh;
    background-color: gray;
}

#tabs_icons_container {
    z-index: 6;
    width: var(--player_menu_width);
    height: 4vh;
    background-color: lightgrey;
}

.tab_icon {
    display: inline-block;
    box-sizing: border-box;
    z-index: 7;
    width: 4vh;
    height: 4vh;
    border: 5px solid black;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

.tab_icon:hover {
    cursor: pointer;
}

#tabs_container {
    z-index: 6;
    width: var(--player_menu_width);
    height: 60vh;
}

#player_equipment {
    z-index: 6;
    width: var(--player_menu_width);
    height: 31vh;
    background-color: lightgrey;
}