/** This CSS file is onlu for general purposes style formating and creating variables */

:root {
    --grid-rows: 10;
    --grid-columns: 19;
    --node_width: 55px;
    --node_height: 55px;
    --exp_percent: 75;
    --hp_percent: 70;
    --ap_percent: 60;
}

main {
    display: block;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 1536px;
    height: 753px;
}

#game_pause {
    display: block;
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 0px;
    width: 100%;
    height: calc(100% - 30px);
    background-color: rgba(0, 0, 0, 0.4);
}
