/** This CSS file is onlu for general purposes style formating and creating variables */

:root {
    --grid-rows: 10;
    --grid-columns: 19;
    --node_width: calc(8vh - 3px);
    --node_height: calc(8vh - 3px);
    --exp_percent: 100;
    --hp_percent: 100;
    --mana_percent: 100;

    --player_menu_width: calc(100vw - (var(--grid-columns) * var(--node_width)) - 1vh);
}

@font-face {
    font-family: Alagard;
    src: url(./fonts/alagard.ttf);
  }

html {
    font-family: Alagard;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: #251d22;
}

main {
    width: 100vw;
    height: 95vh;
}

#game_pause {
    display: block;
    position: absolute;
    z-index: 100;
    top: 4vh;
    width: 100vw;
    height: 96vh;
    background-color: rgba(0, 0, 0, 0.4);
}
