/** This CSS file is onlu for general purposes style formating and creating variables */

:root {
    --node_width: 55px;
    --node_height: 55px;
}

#game_stop {
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 1536px;
    height: 723px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
}
